* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
  height: 30px;
  background: rgb(255, 212, 18);
}
input a {
   margin-top: 12px;
   justify-content: left;
   
}